/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

:root {
  --primary-blue: #2563eb;
  --accent-blue: #38bdf8;
  --secondary-gray: #1e293b;
  --background-light: #f8fafc;
  --success-green: #10b981;
  --error-red: #ef4444;
  --ui-gradient: linear-gradient(90deg, #2563eb 0%, #38bdf8 100%);
}

